body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Oxygen', sans-serif;
    background-color: #E5E5E5;
}

.container-fluid {
    background-color: black

}

#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;	 	 
}

#slideShow {
    width: 800px;
    height: 458px;
}
#linkedIn {
    width: 20px;
  
}

#linkedIn:hover {
    background-color: blue;
}

@media screen and (max-width: 768px) {
    #slideShow {
        width: 100%;
        height: 100%
    }
    
    #theSlide button {
        width: 100%;
        height: 100%;

    }   
}